<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/alumnos">volver</button>

        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" id="nombre" 
                [(ngModel)]="alumno.nombre">
                <div class="alert alert-danger" *ngIf="error?.nombre">
                  {{ error.nombre }}
                </div>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" class="form-control" id="apellido" 
                [(ngModel)]="alumno.apellido">
                <div class="alert alert-danger" *ngIf="error?.apellido">
                    {{ error.apellido }}
                </div>
            </div>
            <div class="form-group">
                <label for="dni">Dni</label>
                <input type="text" name="dni" class="form-control" id="email" 
                [(ngModel)]="alumno.dni">
                <div class="alert alert-danger" *ngIf="error?.dni">
                    {{ error.dni }}
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                (click)="alumno.id? editar(): crear()">
                    {{ alumno.id? 'Editar': 'Crear' }}
                </button>
            </div>
        </form>
    </div>
</div>